set-option -g update-environment "PATH HOME COLORTERM DISPLAY EDITOR HYPRLAND_CMD HYPRLAND_INSTANCE_SIGNATURE KITTY_PID KITTY_PUBLIC_KEY WAYLAND_DISPLAY XDG_BACKEND XDG_CURRENT_DESKTOP XDG_SESSION_TYPE"
